// Import FE Styles
@import "lib/govuk-frontend/dist/govuk/index";

.before-content-banner {
  display: flex;
}

.subnav {
  display: flex;
  &-auth {
    display: none;
  }
  &-margins {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.url-field-wrapper {
  position: absolute;
  left: -9999px;
}

@media (min-width: 40.0625em) {
  .subnav {
    &-auth {
      display: flex;
      align-items: center;
      margin-left: auto !important;
      &-links {
        display: flex;
        margin: 10px 0px !important;
        & > *:first-child {
          padding-right: 15px;
        }
      }
    }
  }
}

.hmrc-timeline__event-content {
  font-family: "GDS Transport", arial, sans-serif;
  ul {
    @extend .govuk-list--bullet;
    @extend .govuk-list;
  }
}
